
@import '../helpers/colors';


/* Nav */
  #templatemo_nav_top { min-height: 40px;}
//   #templatemo_nav_top * { font-size: 1em !important;}
  #templatemo_main_nav a { color: $gray-dark;}
  #templatemo_main_nav a:hover { color: $teal;}
  #templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
  

    /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }