//  Start Brands 
section.bg-light.py-5
            .container.my-4
                .row.text-center.py-3
                    .col-lg-6.m-auto
                        h1 Our Brands
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                        
                    .col-lg-9.m-auto.tempaltemo-carousel
                        .row.d-flex.flex-row
                            .col-1.align-self-center
                                a.h1(href="#templatemo-slide-brand", role="button", data-bs-slide="prev")
                                    i.fa-solid.fa-angle-left
                            .col
                                .carousel.slide.carousel-multi-item.pt-2.pt-md-0#templatemo-slide-brand(data-bs-ride="carousel")
                                    .carousel-inner.product-links-wap(role="listbox")
                                        .carousel-item.active
                                            .row
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_01.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                        a(href="#")
                                                            img.img-fluid.brand-img(src="./img/brand_02.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                        a(href="#")
                                                            img.img-fluid.brand-img(src="./img/brand_03.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                        a(href="#")
                                                            img.img-fluid.brand-img(src="./img/brand_04.png", alt="Brand Logo")
                           
                                        .carousel-item
                                            .row
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_01.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_02.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_03.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_04.png", alt="Brand Logo")
                                            // End Second slide
                                        // Third slide
                                        .carousel-item
                                            .row
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_01.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_02.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_03.png", alt="Brand Logo")
                                                .col-3.p-md-5
                                                    a(href="#")
                                                        img.img-fluid.brand-img(src="./img/brand_04.png", alt="Brand Logo")
                                            // End Third slide
                                // End Slides
                            // End Carousel Wrapper
                            // Controls
                            .col-1.align-self-center
                                a.h1(href="#templatemo-slide-brand", role="button", data-bs-slide="prev")
                                    i.fa-solid.fa-angle-right
                            // End Controls
                            // End Brands