footer.bg-dark#tempaltemo_footer
                    .container
                        .row
                            .col-md-4.pt-5
                                h2.h2.text-success.border-bottom.pb-3.border-dark.logo Zay Shop
                                ul.list-unstyled.text-light.footer-link-list
                                    li
                                        i.fas.fa-map-marker-alt.fa-fw
                                        | 123 Consectetur at ligula 10660
                                    li
                                        i.fa.fa-phone.fa-fw
                                        a.text-decoration-none(href="tel:010-020-0340") 010-020-0340
                                    li
                                        i.fa.fa-envelope.fa-fw
                                        a.text-decoration-none(href="mailto:info@company.com") info@company.com
                            .col-md-4.pt-5
                                h2.h2.text-light.border-bottom.pb-3.border-dark Products
                                ul.list-unstyled.text-light.footer-link-list
                                    li
                                        a.text-decoration-none(href="#") Luxury
                                    li
                                        a.text-decoration-none(href="#") Sport Wear
                                    li
                                        a.text-decoration-none(href="#") Men's Shoes
                                    li
                                        a.text-decoration-none(href="#") Women's Shoes
                                    li
                                        a.text-decoration-none(href="#") Popular Dress
                                    li
                                        a.text-decoration-none(href="#") Gym Accessories
                                    li
                                        a.text-decoration-none(href="#") Sport Shoes
                            .col-md-4.pt-5
                                    h2.h2.text-light.border-bottom.pb-3.border-dark Further Info
                                    ul.list-unstyled.text-light.footer-link-list
                                        li
                                            a.text-decoration-none(href="index.html") Home
                                        li
                                            a.text-decoration-none(href="about.html") About Us
                                        li
                                            a.text-decoration-none(href="shop.html") Shop Locations
                                        li
                                            a.text-decoration-none(href="index.html") FAQs
                                        li
                                            a.text-decoration-none(href="contact.html") Contact Us
                        .row.text-light.mb-4
                            .col-12.mb-3
                                .w-100.my-3.border-top.border-dark
                            .col-auto.me-auto
                                ul.list-inline.text-left.footer-icons
                                li.list-inline-item.border.border-dark.rounded-circle.text-center
                                    a.text-light.text-decoration-none(target="_blank", href="http://facebook.com/")
                                        i.fab.fa-facebook-f.fa-lg.fa-fw
                                li.list-inline-item.border.border-dark.rounded-circle.text-center
                                    a.text-light.text-decoration-none(target="_blank", href="https://www.instagram.com/")
                                        i.fab.fa-instagram.fa-lg.fa-fw
                                li.list-inline-item.border.border-dark.rounded-circle.text-center
                                    a.text-light.text-decoration-none(target="_blank", href="https://twitter.com/")
                                        i.fab.fa-twitter.fa-lg.fa-fw
                                li.list-inline-item.border.border-dark.rounded-circle.text-center
                                    a.text-light.text-decoration-none(target="_blank", href="https://www.linkedin.com/")
                                        i.fab.fa-linkedin.fa-lg.fa-fw
                            .col-auto
                                label.sr-only(for="subscribeEmail") Email address
                                .input-group.mb-2
                                    input.form-control.bg-dark.border-secondary#subscribeEmail(type="text", placeholder="Email address")
                                    .input-group-text.btn-success.text-light Subscribe
                    .w-100.bg-black.py-3
                            .container
                                .row.pt-2
                                    .col-12
                                        p.text-left.text-light Copyright © 2021 Company Name | Designed by 
                                            a(rel="sponsored", href="https://templatemo.com", target="_blank") TemplateMo
                                        