-var Title = "Zay Shop";
-var pageLang = "en" 
doctype html 
html(lang="en")
    head
        include pug/headTags
    body 
        include pug/layout/nav

        include pug/layout/footer
        include pug/layout/script
