-var Title = "Zay Shop";
-var pageLang = "en" 
doctype html 
html(lang="en")
    head
        include pug/headTags
    body 
        include pug/layout/nav
        include pug/layout/banner

        //  Start Categories of The Month 
        section.container.py-5
            .row.text-center.pt-3
                .col-lg-6.m-auto
                    h1 Categories of The Month
                    p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
            .row
                .col-12.col-md-4.p-5.mt-3
                                a(href="#")
                                    img.rounded-circle.img-fluid.border(src="./img/category_img_01.jpg")
                                h5.text-center.mt-3.mb-3 Watches
                                p.text-center
                                    a.btn.btn-success Go Shop
                .col-12.col-md-4.p-5.mt-3
                                a(href="#")
                                    img.rounded-circle.img-fluid.border(src="./img/category_img_02.jpg")
                                h2.h5.text-center.mt-3.mb-3 Shoes
                                p.text-center
                                    a.btn.btn-success Go Shop
                .col-12.col-md-4.p-5.mt-3
                                a(href="#")
                                    img.rounded-circle.img-fluid.border(src="./img/category_img_03.jpg")
                                h2.h5.text-center.mt-3.mb-3 Accessories
                                p.text-center
                                    a.btn.btn-success Go Shop
        //  End Categories of The Month 
        //  Start Featured Product 
        section.bg-light
                    .container.py-5
                        .row.text-center.py-3
                            .col-lg-6.m-auto
                                h1.h1 Featured Product
                                p Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                
                        .row
                            .col-12.col-md-4.mb-4
                                .card.h-100
                                    a(href="shop-single.html")
                                        img.card-img-top(src="./img/feature_prod_01.jpg", alt="...")
                                    .card-body
                                        ul.list-unstyled.d-flex.justify-content-between
                                            li
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-muted.fa.fa-star
                                                i.text-muted.fa.fa-star
                                            li.text-muted.text-right $240.00
                                        a.h2.text-decoration-none.text-dark(href="shop-single.html") Gym Weight
                                        p.card-text.
                                        
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                                        
                                        p.text-muted Reviews (24)
                            .col-12.col-md-4.mb-4
                                .card.h-100
                                    a(href="shop-single.html")
                                        img.card-img-top(src="./img/feature_prod_02.jpg", alt="...")
                                    .card-body
                                        ul.list-unstyled.d-flex.justify-content-between
                                            li
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-muted.fa.fa-star
                                                i.text-muted.fa.fa-star
                                            li.text-muted.text-right $480.00
                                        a.h2.text-decoration-none.text-dark(href="shop-single.html") Cloud Nike Shoes
                                        p.card-text.
                                        
                                        Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                                        
                                        p.text-muted Reviews (48)
                            .col-12.col-md-4.mb-4
                                .card.h-100
                                    a(href="shop-single.html")
                                        img.card-img-top(src="./img/feature_prod_03.jpg", alt="...")
                                    .card-body
                                        ul.list-unstyled.d-flex.justify-content-between
                                            li
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                                i.text-warning.fa.fa-star
                                            li.text-muted.text-right $360.00
                                        a.h2.text-decoration-none.text-dark(href="shop-single.html") Summer Addides Shoes
                                        p.card-text.
                                        
                                        Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                                        
                                        p.text-muted Reviews (74)
                    //  End Featured Product                                        
        include pug/layout/footer
        include pug/layout/script
                            
