-var Title = "Zay Shop";
-var pageLang = "en" 
doctype html 
html(lang="en")
    head
        include pug/headTags
    body 
        include pug/layout/nav
        //  Start Content 
        .container.py-5
            .row
                .col-lg-3
                    h1.h2.pb-4 Categories
                    ul.list-unstyled.templatemo-accordion
                        li.pb-3
                            a.collapsed.d-flex.justify-content-between.h3.text-decoration-none(href="#")
                                | Gender
                                i.fa.fa-fw.fa-chevron-circle-down.mt-1
                        li.pb-3
                            a.collapsed.d-flex.justify-content-between.h3.text-decoration-none(href="#")
                                | Sale
                                i.pull-right.fa.fa-fw.fa-chevron-circle-down.mt-1
                        li.pb-3
                            a.collapsed.d-flex.justify-content-between.h3.text-decoration-none(href="#")
                                | Product
                                i.pull-right.fa.fa-fw.fa-chevron-circle-down.mt-1
                .col-lg-9
                    .row
                        .col-md-6
                            ul.list-inline.shop-top-menu.pb-3.pt-1
                                li.list-inline-item
                                    a.h3.text-dark.text-decoration-none.mr-3(href="#") All
                                li.list-inline-item
                                    a.h3.text-dark.text-decoration-none.mr-3(href="#") Men's
                                li.list-inline-item
                                    a.h3.text-dark.text-decoration-none(href="#") Women's
                        .col-md-6.pb-4
                            .d-flex
                                select.form-control
                                    option Featured
                    .row.g-2.d-flex.justify-content-center#productsContainer
                        .spinner-border.text-danger(role="status")
                            span.visually-hidden Loading...
                    .row
                        ul.pagination.pagination-lg.justify-content-end
                            li.page-item.disabled
                                a.page-link.active.rounded-0.mr-3.shadow-sm.border-top-0.border-left-0(href="#" tabindex="-1") 1
                            li.page-item
                                a.page-link.rounded-0.mr-3.shadow-sm.border-top-0.border-left-0.text-dark(href="#") 2
                            li.page-item
                                a.page-link.rounded-0.shadow-sm.border-top-0.border-left-0.text-dark(href="#") 3
            //  End Content 
        include pug/layout/brands
        include pug/layout/footer
        include pug/layout/script